<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-3 text-center">
                <h1>Submit image</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mb-2 text-left">

                    <div class="row">

                        <form method="post">
                            <div class="row">
                                <h4 class="mb-3">Upload your image</h4>
                                <div class="form-group mb-3">
                                    <input type="file" class="form-control form-control-lg" id="imgUpload" name="filename">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <input type="input" class="form-control form-control-lg" id="search" name="search" placeholder="Search diagnosis">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <select class="form-control form-control-lg" name="results" id="results">
                                            <option name="">Select diagnosis</option>
                                        {% for result in results %}
                                            <option name="{{ result['id'] }}">{{ result['title'] }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group mb-3">
                                    <input type="submit" class="form-control form-control-lg btn btn-outline-primary btn-lg" id="upload_button" value="Upload">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section>
</body>
</html>