<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/phys.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid" style="width:100%">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-left" href="/">ICD-Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class=" text-right">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/submit">Submit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/verify">Verify</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-5 text-center">
                <h1>{{ confirmation }}</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mt-5 mb-5 text-left">
                    <div class="row">
                        <form method="post">
                            <div class="row">
                                <div class="form-group mb-3">
                                    <input type="submit" value="Return" class="form-control form-control-lg btn btn-outline-primary btn-lg">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section>
</body>
</html>