<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/phys.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-3 text-center">
                <h1>Quiz</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mb-2 text-left">

                    <div class="row">

                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-3">1) For the following skin image, please provide your diagnosis</h4>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control form-control-lg" placeholder = "Search diagnosis" id="search" name="search">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3 text-center">
                                        <img src="{{ url_for('static', filename='assets/imgq1.jpg') }}" class="img-fluid">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="submit" value="Submit" class="form-control form-control-lg btn btn-outline-primary btn-lg">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section>
</body>
</html>