<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/phys.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid" style="width:100%">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-left" href="/">ICD-Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class=" text-right">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/submit">Submit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/verify">Verify</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-3 text-center">
                <h1>Submit image</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mb-2 text-left">

                    <div class="row">

                        <form method="post" enctype="multipart/form-data">
                            <div class="row mb-5">
                                <h4 class="mb-3">Search ICD-11 (ICDD) diagnosis</h4>
                                <div class="form-group mb-3">
                                    <input type="input" class="form-control form-control-lg" id="search" name="search" placeholder="Search Diagnosis" value="{{ query }}">
                                    <input type="submit" class="hidden-passthrough" name="submit" value="Search">
                                </div>
                            </div>
                            <div class="row {{ hideclass }} mb-5">
                                <h4 class="mb-3">Diagnosis information</h4>
                                <div class="form-group mb-3 row">
                                    <div class="col-lg-3">
                                        <input type="input" class="form-control form-control-lg" id="uri" name="uri" value="Searched: {{ query }}" disabled>
                                    </div>
                                    <div class="col-lg-7">
                                        <select class="form-control form-control-lg" name="results" id="results" >
                                            <option value="null" selected disabled hidden>Select diagnosis</option>
                                        {% for result in results %}
                                            <option value="{{ result.id }}" {{ result.selected }}>{{ result.title }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="submit" class="form-control form-control-lg btn btn-success btn-lg {{ hideclass }}" id="check_btn" value="Check Definition" name="submit">
                                    </div>
                                </div>
                                <div class="row {{ desc_hide }}">
                                    <p>{{ definition }}</p>
                                </div>
                                <div class="form-group mb-3 row container-fluid">
                                    <map id="ICDSTmap-en-us" name="ICDSTmap-en-us">
                                        <img class="map" src="{{ url_for('static', filename='assets/small-body-landscape.gif') }}" style="width: 960 !important; height: 859 !important;" usemap="#ICDSTmap-en-us">
                                        <area shape="poly" coords="215,163,242,164,215,152,216,131,227,104,236,93,233,81,226,81,226,51,215,39,187,31,163,35,146,48,142,71,147,88,140,81,134,88,137,97,143,103,150,120,156,134,152,157,120,169,144,164,177,167,195,167" title="Head and Neck" onclick="addMsg('Head and Neck');">
                                        <area shape="poly" coords="159,166,174,166,173,173,156,170,137,169,127,167,140,166" title="Right Supraclavicular region" onclick="addMsg('Right Supraclavicular region');">
                                        <area shape="poly" coords="213,163,246,164,246,168,223,167,197,172,195,167" title="Left Supraclavicular region" onclick="addMsg('Left Supraclavicular region');">
                                        <area shape="poly" coords="185,167,195,165,198,176,174,176,173,178,175,165" title="Suprasternal notch" onclick="addMsg('Suprasternal notch');">
                                        <area shape="poly" coords="176,174,172,182,166,177,152,176,138,174,113,176,110,177,113,171,123,169,132,169,152,169" title="Right Clavicular region" onclick="addMsg('Right Clavicular region');">
                                        <area shape="poly" coords="251,170,251,171,251,177,241,172,217,174,202,177,195,183,196,172,219,168,246,168" title="Left Clavicular region" onclick="addMsg('Left Clavicular region');">
                                        <area shape="poly" coords="240,173,224,174,213,175,202,177,195,183,195,189,213,187,226,185,246,185,251,184,251,177,251,176" title="Left Infraclavicular region" onclick="addMsg('Left Infraclavicular region');">
                                        <area shape="poly" coords="171,187,171,201,171,241,171,264,174,273,177,277,189,277,195,271,195,259,195,226,195,208,195,176,176,176" title="Presternal region" onclick="addMsg('Presternal region');">
                                        <area shape="poly" coords="156,176,140,174,125,174,113,177,110,177,113,187,126,184,146,184,159,185,171,189,172,182,166,177" title="Right Infraclavicular region" onclick="addMsg('Right Infraclavicular region');">
                                        <area shape="poly" coords="113,187,119,229,133,221,152,221,171,229,171,189,159,185,125,184" title="Right Upper anterior thoracic region" onclick="addMsg('Right Upper anterior thoracic region');">
                                        <area shape="poly" coords="195,189,195,232,214,221,229,221,246,221,251,233,251,184,221,185" title="Left Upper anterior thoracic region" onclick="addMsg('Left Upper anterior thoracic region');">

                                        <area shape="poly" coords="251,171,251,185,251,219,277,221,276,200,267,174" title="Left Anterior surface of shoulder" onclick="addMsg('Left Anterior surface of shoulder');">
                                        <area shape="poly" coords="101,177,94,204,92,223,116,221,113,189,110,172" title="Right Anterior surface of shoulder" onclick="addMsg('Right Anterior surface of shoulder');">
                                        <area shape="poly" coords="101,177,88,187,81,202,79,226,92,223,94,202" title="Right (Anterior) Apex of shoulder" onclick="addMsg('Right (Anterior) Apex of shoulder');">
                                        <area shape="poly" coords="267,177,280,185,287,200,292,221,277,221,277,201" title="Left (Anterior) Apex of shoulder" onclick="addMsg('Left (Anterior) Apex of shoulder');">
                                        <area shape="poly" coords="81,226,79,305,92,312,92,223" title="Right Lateral surface of upper arm" onclick="addMsg('Right Lateral surface of upper arm');">
                                        <area shape="poly" coords="116,221,116,226,110,240,104,293,113,311,92,311,91,261,92,223" title="Right Anterior surface of upper arm" onclick="addMsg('Right Anterior surface of upper arm');">
                                        <area shape="poly" coords="113,312,104,292,106,267,109,239,116,226" title="Right Medial surface of upper arm" onclick="addMsg('Right Medial surface of upper arm');">
                                        <area shape="poly" coords="79,305,86,309,85,328,73,329,79,318" title="Right Lateral condylar surface of elbow" onclick="addMsg('Right Lateral condylar surface of elbow');">
                                        <area shape="rect" coords="84,310,105,330" title="Right Antecubital fossa" onclick="addMsg('Right Antecubital fossa');">
                                        <area shape="poly" coords="114,311,104,310,104,317,105,329,108,333" title="Right Medial condylar surface of elbow" onclick="addMsg('Right Medial condylar surface of elbow');">
                                        <area shape="poly" coords="73,328,81,328,70,379,61,404,55,404,69,343" title="Right Lateral surface of forearm" onclick="addMsg('Right Lateral surface of forearm');">
                                        <area shape="poly" coords="82,328,105,329,74,407,61,404" title="Right Anterior surface of forearm" onclick="addMsg('Right Anterior surface of forearm');">
                                        <area shape="poly" coords="105,328,108,333,98,370,80,411,74,406" title="Right Medial surface of forearm" onclick="addMsg('Right Medial surface of forearm');">
                                        <area shape="poly" coords="55,402,46,417,55,419,61,404" title="Right Lateral surface of wrist" onclick="addMsg('Right Lateral surface of wrist');">
                                        <area shape="poly" coords="60,404,54,419,62,424,66,426,72,406" title="Right Volar surface of wrist" onclick="addMsg('Right Volar surface of wrist');">
                                        <area shape="poly" coords="76,429,79,408,73,406,66,427" title="Right Medial surface of wrist" onclick="addMsg('Right Medial surface of wrist');">
                                        <area shape="poly" coords="48,417,76,428,77,441,67,482,62,482,62,464,48,491,51,467,34,491,42,460,26,479,40,442,20,453,31,427" title="Right Hand" onclick="addMsg('Right Hand');">
                                        <area shape="poly" coords="258,317,266,299,266,276,264,246,260,226,251,219" title="Left Medial surface of upper arm" onclick="addMsg('Left Medial surface of upper arm');">
                                        <area shape="poly" coords="251,219,261,226,266,275,266,300,259,313,283,314,277,221" title="Left Anterior surface of upper arm" onclick="addMsg('Left Anterior surface of upper arm');">
                                        <area shape="poly" coords="277,221,283,315,292,312,289,221" title="Left Lateral surface of upper arm" onclick="addMsg('Left Lateral surface of upper arm');">
                                        <area shape="poly" coords="267,314,259,314,259,321,265,339,270,334" title="Left Medial condylar surface of elbow" onclick="addMsg('Left Medial condylar surface of elbow');">
                                        <area shape="rect" coords="267,314,284,334" title="Left Antecubital fossa" onclick="addMsg('Left Antecubital fossa');">
                                        <area shape="poly" coords="284,314,292,312,294,321,297,329,284,334" title="Left Lateral condylar surface of elbow" onclick="addMsg('Left Lateral condylar surface of elbow');">
                                        <area shape="poly" coords="264,339,271,334,297,406,293,412,274,370" title="Left Medial surface of forearm" onclick="addMsg('Left Medial surface of forearm');">
                                        <area shape="poly" coords="271,335,287,334,305,404,297,406" title="Left Anterior surface of forearm" onclick="addMsg('Left Anterior surface of forearm');">
                                        <area shape="poly" coords="287,332,297,329,317,400,305,404" title="Left Lateral surface of forearm" onclick="addMsg('Left Lateral surface of forearm');">
                                        <area shape="poly" coords="302,425,297,406,292,408,295,429" title="Left Medial surface of wrist" onclick="addMsg('Left Medial surface of wrist');">
                                        <area shape="poly" coords="302,423,302,424,315,419,305,404,297,406" title="Left Volar surface of wrist" onclick="addMsg('Left Volar surface of wrist');">
                                        <area shape="poly" coords="305,402,315,419,321,417,317,400" title="Left Lateral surface of wrist" onclick="addMsg('Left Lateral surface of wrist');">
                                        <area shape="poly" coords="295,426,321,416,332,419,355,446,349,453,334,441,330,442,343,476,343,479,330,465,338,491,321,467,324,491,312,472,305,484,297,442" title="Left Hand" onclick="addMsg('Left Hand');">

                                        <area shape="poly" coords="116,242,122,255,128,263,144,265,162,265,171,258,171,242,171,229,157,221,133,221,120,229" title="Right Breast" onclick="addMsg('Right Breast');">
                                        <area shape="poly" coords="251,229,251,241,245,261,226,265,210,267,195,261,195,244,195,233,214,221,229,221,246,221" title="Left Breast" onclick="addMsg('Left Breast');">
                                        <area shape="poly" coords="123,258,129,281,133,297,133,318,133,333,158,332,172,324,187,305,187,295,185,277,177,277,171,265,171,258,160,265,142,265,129,264" title="Right Lower anterior thoracic region" onclick="addMsg('Right Lower anterior thoracic region');">
                                        <area shape="poly" coords="235,334,223,334,209,330,200,320,187,305,187,292,185,277,189,277,195,269,195,261,210,267,226,265,244,261,240,285,235,300" title="Left Lower anterior thoracic region" onclick="addMsg('Left Lower anterior thoracic region');">
                                        <area shape="poly" coords="233,334,240,364,246,381,246,415,255,404,259,383,251,358,247,334" title="Left (Lateral) Abdomen" onclick="addMsg('Left (Lateral) Abdomen');">
                                        <area shape="poly" coords="208,348,208,329,201,322,187,305,172,324,163,328,163,348,189,348" title="Epigastrium" onclick="addMsg('Epigastrium');">
                                        <area shape="poly" coords="182,357,188,355,183,366,181,366,160,387,208,389,208,348,162,348,159,387,182,366" title="Periumbilical region" onclick="addMsg('Periumbilical region');">
                                        <area shape="poly" coords="246,303,235,297,238,289,240,282,242,269,244,261,245,261,252,226,254,258" title="Left Anterolateral upper thoracic region" onclick="addMsg('Left Anterolateral upper thoracic region');">
                                        <area shape="poly" coords="246,334,235,334,235,321,235,304,235,317,235,302,235,297,246,304,246,316" title="Left Anterolateral lower thoracic region" onclick="addMsg('Left Anterolateral lower thoracic region');">
                                        <area shape="poly" coords="233,334,240,364,246,381,246,415,255,404,259,383,251,358,247,334" title="Left (Lateral) Abdomen" onclick="addMsg('Left (Lateral) Abdomen');">
                                        <area shape="poly" coords="133,295,123,297,123,284,120,277,116,265,116,258,116,245,123,259,129,277" title="Right Anterolateral upper thoracic region" onclick="addMsg('Right Anterolateral upper thoracic region');">
                                        <area shape="poly" coords="134,334,122,332,125,318,122,304,125,305,122,305,122,297,133,295,134,316" title="Right Anterolateral lower thoracic region" onclick="addMsg('Right Anterolateral lower thoracic region');">
                                        <area shape="poly" coords="124,333,114,373,111,392,121,415,126,393,127,379,130,364,135,332" title="Right (Lateral) Abdomen" onclick="addMsg('Right (Lateral) Abdomen');">
                                        <area shape="poly" coords="158,429,159,389,208,389,208,429,200,433,164,433" title="Hypogastrium" onclick="addMsg('Hypogastrium');">
                                        <area shape="poly" coords="163,433,171,442,172,448,183,450,190,450,192,450,201,433" title="Suprapubic area" onclick="addMsg('Suprapubic area');">
                                        <area shape="poly" coords="176,450,190,448,193,452,187,469,180,465" title="Genital region" onclick="addMsg('Genital region');">
                                        <area shape="poly" coords="159,389,163,349,130,348,129,362,125,383" title="(Abdomen) Right Lateral lumbar region" onclick="addMsg('(Abdomen) Right Lateral lumbar region');">
                                        <area shape="poly" coords="208,389,208,348,238,348,240,364,246,385" title="(Abdomen) Left Lateral lumbar region" onclick="addMsg('(Abdomen) Left Lateral lumbar region');">
                                        <area shape="poly" coords="163,328,163,348,129,348,133,332,156,332" title="Right Hypochondrium" onclick="addMsg('Right Hypochondrium');">
                                        <area shape="poly" coords="208,329,208,348,238,348,235,334,223,334" title="Left Hypochondrium" onclick="addMsg('Left Hypochondrium');">
                                        <area shape="poly" coords="159,389,125,383,121,412,158,429" title="(Abdomen) Right Iliac region" onclick="addMsg('(Abdomen) Right Iliac region');">
                                        <area shape="poly" coords="208,389,246,383,246,413,208,429" title="(Abdomen) Left Iliac region" onclick="addMsg('(Abdomen) Left Iliac region');">

                                        <area shape="poly" coords="122,412,147,425,164,433,171,442,177,465,164,455,151,440,122,419" title="Right Inguinocrural fold" onclick="addMsg('Right Inguinocrural fold');">
                                        <area shape="poly" coords="189,467,201,433,215,427,246,413,248,425,229,433,213,442,202,457" title="Left Inguinocrural fold" onclick="addMsg('Left Inguinocrural fold');">
                                        <area shape="poly" coords="114,404,107,417,107,434,105,442,105,455,121,457,123,417" title="Right (Hip Anterior) Trochanteric region" onclick="addMsg('Right (Hip Anterior) Trochanteric region');">
                                        <area shape="poly" coords="171,459,152,440,122,419,120,453,121,479,127,501,129,518,132,537,129,546,132,568,142,564,152,564,159,566,163,571" title="Right Anterior surface of thigh" onclick="addMsg('Right Anterior surface of thigh');">
                                        <area shape="poly" coords="184,467,171,457,169,505,177,514" title="Right Upper medial surface of thigh" onclick="addMsg('Right Upper medial surface of thigh');">
                                        <area shape="poly" coords="202,457,187,467,189,509,204,503" title="Left Upper medial surface of thigh" onclick="addMsg('Left Upper medial surface of thigh');">
                                        <area shape="poly" coords="248,423,251,446,248,467,245,482,241,505,240,518,240,537,240,549,238,571,226,562,215,563,212,565,206,571,202,457,213,442,229,433" title="Left Anterior surface of thigh" onclick="addMsg('Left Anterior surface of thigh');">
                                        <area shape="poly" coords="260,402,248,417,250,433,251,444,250,456,266,459,266,429" title="Left (Hip Anterior) Trochanteric region" onclick="addMsg('Left (Hip Anterior) Trochanteric region');">
                                        <area shape="poly" coords="120,457,104,455,106,465,110,467,110,476,110,482,116,507,122,530,123,549,123,554,129,554,132,529,125,492,120,467,122,457" title="Right Lateral surface of thigh" onclick="addMsg('Right Lateral surface of thigh');">
                                        <area shape="poly" coords="176,513,168,504,164,556,174,559" title="Right Medial surface of thigh" onclick="addMsg('Right Medial surface of thigh');">
                                        <area shape="poly" coords="204,503,189,509,195,564,206,562" title="Left Medial surface of thigh" onclick="addMsg('Left Medial surface of thigh');">
                                        <area shape="poly" coords="248,455,259,457,265,459,265,461,259,484,253,505,249,528,249,542,248,563,238,564,240,518,244,490,248,467,251,455" title="Left Lateral surface of thigh" onclick="addMsg('Left Lateral surface of thigh');">
                                        <area shape="poly" coords="122,554,123,565,123,573,123,579,123,595,132,590,129,579,133,571,129,554" title="Right Lateral surface of knee" onclick="addMsg('Right Lateral surface of knee');">
                                        <area shape="circle" coords="147,580,18" title="Right Patellar region" onclick="addMsg('Right Patellar region');">
                                        <area shape="poly" coords="164,572,164,556,175,556,174,584,171,591,166,600,158,596,162,589,165,578" title="Right Medial surface of knee" onclick="addMsg('Right Medial surface of knee');">
                                        <area shape="poly" coords="195,575,195,564,206,562,206,589,207,590,214,594,204,600,201,590,195,582" title="Left Medial surface of knee" onclick="addMsg('Left Medial surface of knee');">
                                        <area shape="circle" coords="221,581,18" title="Left Patellar region" onclick="addMsg('Left Patellar region');">
                                        <area shape="poly" coords="238,564,236,569,240,578,240,586,234,596,246,596,247,586,248,576,249,563" title="Left Lateral surface of knee" onclick="addMsg('Left Lateral surface of knee');">
                                        <area shape="poly" coords="133,590,123,594,120,628,116,640,116,661,116,674,129,714,129,649" title="Right Lateral surface of lower leg" onclick="addMsg('Right Lateral surface of lower leg');">
                                        <area shape="poly" coords="133,594,157,598,157,636,152,669,152,689,152,710,125,710,129,686,129,643" title="Right Anterior surface of lower leg" onclick="addMsg('Right Anterior surface of lower leg');">
                                        <area shape="poly" coords="166,600,157,594,158,625,157,636,152,667,152,710,162,678,169,638" title="Right Medial surface of lower leg" onclick="addMsg('Right Medial surface of lower leg');">
                                        <area shape="poly" coords="123,714,129,712,132,733,123,733" title="Right Lateral surface of ankle" onclick="addMsg('Right Lateral surface of ankle');">
                                        <area shape="poly" coords="132,733,152,733,152,724,152,710,129,710,129,722" title="Right Anterior surface of ankle" onclick="addMsg('Right Anterior surface of ankle');">
                                        <area shape="poly" coords="152,733,152,733,157,733,157,714,152,710,152,716" title="Right Medial surface of ankle" onclick="addMsg('Right Medial surface of ankle');">
                                        <area shape="poly" coords="123,733,120,754,117,767,125,766,138,764,153,763,153,764,153,762,152,742,156,733" title="Right Dorsal surface of midfoot" onclick="addMsg('Right Dorsal surface of midfoot');">
                                        <area shape="poly" coords="117,766,154,762,141,813,110,783,112,780,112,781" title="Right Dorsal surface of forefoot" onclick="addMsg('Right Dorsal surface of forefoot');">
                                        <area shape="poly" coords="213,594,204,598,202,627,202,643,206,661,215,710,215,666,214,640" title="Left Medial surface of lower leg" onclick="addMsg('Left Medial surface of lower leg');">
                                        <area shape="poly" coords="213,596,233,594,240,634,242,669,242,689,242,710,215,710,215,687,214,640" title="Left Anterior surface of lower leg" onclick="addMsg('Left Anterior surface of lower leg');">
                                        <area shape="poly" coords="246,594,233,594,238,617,240,636,243,710,251,680,251,655,249,621" title="Left Lateral surface of lower leg" onclick="addMsg('Left Lateral surface of lower leg');">
                                        <area shape="poly" coords="214,716,219,716,221,732,221,736,215,736,213,729" title="Left Medial surface of ankle" onclick="addMsg('Left Medial surface of ankle');">
                                        <area shape="poly" coords="221,736,242,733,241,724,242,710,215,710,220,727" title="Left Anterior surface of ankle" onclick="addMsg('Left Anterior surface of ankle');">
                                        <area shape="poly" coords="241,710,246,714,246,733,242,733" title="Left Lateral surface of ankle" onclick="addMsg('Left Lateral surface of ankle');">
                                        <area shape="poly" coords="214,736,219,754,220,783,219,767,239,766,256,761,261,775,246,733" title="Left Dorsal surface of midfoot" onclick="addMsg('Left Dorsal surface of midfoot');">
                                        <area shape="poly" coords="219,767,256,761,262,784,232,813" title="Left Dorsal surface of forefoot" onclick="addMsg('Left Dorsal surface of forefoot');">

                                        <area shape="poly" coords="505,170,587,170,575,151,575,137,583,120,592,113,596,96,587,97,585,62,570,45,551,38,527,42,511,60,505,79,505,85,505,94,497,93,497,103,501,113,503,119,511,122,518,152" title="Head and Neck" onclick="addMsg('Head and Neck');">
                                        <area shape="poly" coords="505,170,492,177,467,187,480,189,495,195,512,206,523,219,529,226,529,170" title="Left Suprascapular region" onclick="addMsg('Left Suprascapular region');">
                                        <area shape="poly" coords="529,170,529,273,544,273,544,170" title="Left Interscapular region" onclick="addMsg('Left Interscapular region');">
                                        <area shape="poly" coords="544,170,544,273,560,273,560,170" title="Right Interscapular region" onclick="addMsg('Right Interscapular region');">
                                        <area shape="poly" coords="560,226,560,170,588,170,594,172,608,177,617,187,602,189,585,193,568,207" title="Right Suprascapular region" onclick="addMsg('Right Suprascapular region');">
                                        <area shape="poly" coords="467,187,482,189,495,195,505,202,512,207,523,215,529,226,528,257,516,271,493,279,482,277,476,248,467,238" title="Left Scapular region" onclick="addMsg('Left Scapular region');">
                                        <area shape="poly" coords="560,229,566,214,573,204,589,189,600,189,613,187,610,233,590,277,575,274,560,258" title="Right Scapular region" onclick="addMsg('Right Scapular region');">
                                        <area shape="poly" coords="455,195,450,223,450,238,467,235,467,207,467,189" title="Left Posterior surface of shoulder" onclick="addMsg('Left Posterior surface of shoulder');">
                                        <area shape="poly" coords="453,195,442,214,438,229,433,240,450,238,450,221" title="Left (Posterior) Apex of shoulder" onclick="addMsg('Left (Posterior) Apex of shoulder');">
                                        <area shape="poly" coords="613,187,611,214,609,233,630,233,630,212,630,189" title="Right Posterior surface of shoulder" onclick="addMsg('Right Posterior surface of shoulder');">
                                        <area shape="poly" coords="630,189,636,202,640,221,640,238,630,233,630,213" title="Right (Posterior) Apex of shoulder" onclick="addMsg('Right (Posterior) Apex of shoulder');">
                                        <area shape="poly" coords="490,295,480,300,476,277,472,268,467,259,467,248,467,238,476,247,482,271" title="Left Posterolateral upper thoracic region" onclick="addMsg('Left Posterolateral upper thoracic region');">
                                        <area shape="poly" coords="598,297,589,294,590,284,590,277,594,267,596,265,600,251,608,235,607,261" title="Right Posterolateral upper thoracic region" onclick="addMsg('Right Posterolateral upper thoracic region');">
                                        <area shape="poly" coords="492,343,495,320,484,277,492,280,516,271,529,258,528,302,528,324" title="Left Mid back" onclick="addMsg('Left Mid back');">
                                        <area shape="poly" coords="528,273,544,273,543,360,530,360,529,326,528,314" title="Left Lower thoracic paraspinal region" onclick="addMsg('Left Lower thoracic paraspinal region');">
                                        <area shape="poly" coords="545,272,544,362,556,362,561,272" title="Right Lower thoracic paraspinal region" onclick="addMsg('Right Lower thoracic paraspinal region');">
                                        <area shape="poly" coords="556,324,556,318,560,284,560,251,575,274,590,278,584,317,585,341" title="Right Mid back" onclick="addMsg('Right Mid back');">
                                        <area shape="poly" coords="490,295,495,320,492,343,488,343,488,324,480,300" title="Left Posterolateral lower thoracic region" onclick="addMsg('Left Posterolateral lower thoracic region');">
                                        <area shape="poly" coords="596,297,595,317,592,342,586,343,584,316,589,294" title="Right Posterolateral lower thoracic region" onclick="addMsg('Right Posterolateral lower thoracic region');">
                                        <area shape="poly" coords="484,343,467,393,467,417,476,415,476,404,480,391,484,377,492,343" title="Left Lateral lumbar region" onclick="addMsg('Left Lateral lumbar region');">
                                        <area shape="poly" coords="587,343,590,374,594,393,596,408,606,413,608,394,603,368,592,343" title="Right Lateral lumbar region" onclick="addMsg('Right Lateral lumbar region');">
                                        <area shape="poly" coords="492,343,509,379,509,402,476,413,480,391" title="Left Lateral lumbar region" onclick="addMsg('Left Lateral lumbar region');">
                                        <area shape="poly" coords="587,343,573,379,571,402,596,408" title="Right Lateral lumbar region" onclick="addMsg('Right Lateral lumbar region');">
                                        <area shape="poly" coords="503,368,492,343,529,324,530,396,509,402" title="Left Posterior lumbar region" onclick="addMsg('Left Posterior lumbar region');">
                                        <area shape="poly" coords="556,324,587,343,579,366,571,400,554,398" title="Right Posterior lumbar region" onclick="addMsg('Right Posterior lumbar region');">
                                        <area shape="poly" coords="529,394,535,391,537,389,542,393,543,360,530,360,530,389" title="Left Lumbar paraspinal region" onclick="addMsg('Left Lumbar paraspinal region');">
                                        <area shape="poly" coords="549,396,548,393,554,396,554,455,554,362,543,362,543,393" title="Right Lumbar paraspinal region" onclick="addMsg('Right Lumbar paraspinal region');">
                                        <area shape="poly" coords="542,393,536,390,521,398,509,402,522,423,539,423,539,417,543,404,541,419" title="Left Sacral region" onclick="addMsg('Left Sacral region');">
                                        <area shape="poly" coords="553,395,560,400,564,401,567,402,556,424,541,422,542,418,541,393,547,394" title="Right Sacral region" onclick="addMsg('Right Sacral region');">

                                        <area shape="poly" coords="434,240,434,304,442,321,446,238" title="Left Lateral surface of upper arm" onclick="addMsg('Left Lateral surface of upper arm');">
                                        <area shape="poly" coords="467,235,446,238,442,321,471,320,472,283" title="Left Posterior surface of upper arm" onclick="addMsg('Left Posterior surface of upper arm');">
                                        <area shape="poly" coords="434,305,425,320,438,337,455,341,450,329,455,321,442,321" title="Left Lateral condylar surface of elbow" onclick="addMsg('Left Lateral condylar surface of elbow');">
                                        <area shape="circle" coords="462,329,11" title="Left Elbow tip" onclick="addMsg('Left Elbow tip');">
                                        <area shape="poly" coords="425,320,438,334,419,400,413,396" title="Left Lateral surface of forearm" onclick="addMsg('Left Lateral surface of forearm');">
                                        <area shape="poly" coords="438,334,419,400,429,404,467,341,446,340,442,339" title="Left Posterior surface of forearm" onclick="addMsg('Left Posterior surface of forearm');">
                                        <area shape="poly" coords="413,396,402,408,413,413,417,400" title="Left Lateral surface of wrist" onclick="addMsg('Left Lateral surface of wrist');">
                                        <area shape="poly" coords="417,396,429,404,423,415,412,413" title="Left Dorsal surface of wrist" onclick="addMsg('Left Dorsal surface of wrist');">
                                        <area shape="poly" coords="427,417,433,404,427,404,425,415" title="Left Medial surface of wrist" onclick="addMsg('Left Medial surface of wrist');">
                                        <area shape="poly" coords="404,410,431,418,426,434,421,469,418,469,417,456,410,481,406,462,401,489,398,461,386,481,392,442,376,453,385,427" title="Left Dorsum of hand" onclick="addMsg('Left Dorsum of hand');">
                                        <area shape="poly" coords="630,233,610,233,604,284,611,337,638,320" title="Right Posterior surface of upper arm" onclick="addMsg('Right Posterior surface of upper arm');">
                                        <area shape="poly" coords="630,233,636,320,649,320,640,238" title="Right Lateral surface of upper arm" onclick="addMsg('Right Lateral surface of upper arm');">
                                        <area shape="circle" coords="620,343,10" title="Right Elbow tip" onclick="addMsg('Right Elbow tip');">
                                        <area shape="poly" coords="648,318,638,320,617,332,628,334,630,342,629,350,653,334" title="Right Lateral condylar surface of elbow" onclick="addMsg('Right Lateral condylar surface of elbow');">
                                        <area shape="poly" coords="638,343,661,406,647,415,611,354,625,354" title="Right Posterior surface of forearm" onclick="addMsg('Right Posterior surface of forearm');">
                                        <area shape="poly" coords="638,343,651,334,659,350,661,379,667,404,661,406" title="Right Lateral surface of forearm" onclick="addMsg('Right Lateral surface of forearm');">
                                        <area shape="poly" coords="659,425,653,413,647,417,651,427" title="Right Medial surface of wrist" onclick="addMsg('Right Medial surface of wrist');">
                                        <area shape="poly" coords="653,413,661,406,669,421,657,425" title="Right Dorsal surface of wrist" onclick="addMsg('Right Dorsal surface of wrist');">
                                        <area shape="poly" coords="661,406,669,421,678,419,669,404" title="Right Lateral surface of wrist" onclick="addMsg('Right Lateral surface of wrist');">
                                        <area shape="poly" coords="651,427,676,419,682,425,703,453,697,457,684,442,680,446,689,480,684,488,680,467,678,492,669,476,664,490,659,467,655,480,651,446" title="Right Dorsum of hand" onclick="addMsg('Right Dorsum of hand');">
                                        
                                        <area shape="poly" coords="533,423,544,423,544,476,533,476" title="Intergluteal cleft" onclick="addMsg('Intergluteal cleft');">
                                        <area shape="poly" coords="509,402,525,423,533,423,533,455,533,467,533,480,521,482,497,484,467,476,467,452,467,417" title="Left Buttock" onclick="addMsg('Left Buttock');">
                                        <area shape="poly" coords="545,423,554,425,568,400,608,413,600,436,598,459,600,476,585,482,564,484,544,474,544,453" title="Right Buttock" onclick="addMsg('Right Buttock');">
                                        <area shape="poly" coords="467,425,459,442,457,465,461,492,467,476,467,461,467,446" title="Left (Hip Posterior) Trochanteric region" onclick="addMsg('Left (Hip Posterior) Trochanteric region');">
                                        <area shape="poly" coords="607,417,598,442,596,461,600,476,602,484,607,490,610,457" title="Right (Hip Posterior) Trochanteric region" onclick="addMsg('Right (Hip Posterior) Trochanteric region');">
                                        <area shape="poly" coords="461,492,467,472,472,480,476,509,482,556,482,563,467,560,472,552,465,516" title="Left Lateral surface of thigh" onclick="addMsg('Left Lateral surface of thigh');">
                                        <area shape="poly" coords="472,476,492,484,507,488,525,482,525,518,522,564,482,563,478,518" title="Left Posterior surface of thigh" onclick="addMsg('Left Posterior surface of thigh');">
                                        <area shape="poly" coords="526,518,526,482,535,480,533,522" title="Left Upper medial surface of thigh" onclick="addMsg('Left Upper medial surface of thigh');">
                                        <area shape="poly" coords="543,480,552,480,554,518,549,523" title="Right Upper medial surface of thigh" onclick="addMsg('Right Upper medial surface of thigh');">
                                        <area shape="poly" coords="533,521,526,518,525,528,525,535,523,549,522,565,528,567,530,543,533,533" title="Left Medial surface of thigh" onclick="addMsg('Left Medial surface of thigh');">
                                        <area shape="poly" coords="549,522,554,521,554,530,556,544,560,565,552,566,551,535" title="Right Medial surface of thigh" onclick="addMsg('Right Medial surface of thigh');">
                                        <area shape="poly" coords="554,480,565,484,582,482,592,480,592,512,594,563,560,565,554,522" title="Right Posterior surface of thigh" onclick="addMsg('Right Posterior surface of thigh');">
                                        <area shape="poly" coords="600,476,592,476,592,505,592,523,592,537,594,554,594,564,602,564,606,492" title="Right Lateral surface of thigh" onclick="addMsg('Right Lateral surface of thigh');">
                                        <area shape="poly" coords="467,560,467,568,467,575,467,586,472,603,480,603,480,586,480,577,480,562" title="Left Lateral surface of knee" onclick="addMsg('Left Lateral surface of knee');">
                                        <area shape="poly" coords="480,563,521,565,516,586,509,604,480,603,480,585" title="Left Popliteal fossa" onclick="addMsg('Left Popliteal fossa');">
                                        <area shape="poly" coords="518,579,521,564,528,568,525,585,522,594,516,604,507,606,512,594,516,589" title="Left Medial surface of knee" onclick="addMsg('Left Medial surface of knee');">
                                        <area shape="poly" coords="552,577,552,566,562,565,563,581,565,590,568,604,560,604,554,590,552,585" title="Right Medial surface of knee" onclick="addMsg('Right Medial surface of knee');">
                                        <area shape="poly" coords="560,565,594,563,594,579,596,603,568,603,563,582" title="Right Popliteal fossa" onclick="addMsg('Right Popliteal fossa');">
                                        <area shape="poly" coords="594,564,594,571,594,581,594,589,596,602,607,600,607,590,603,579,603,564" title="Right Lateral surface of knee" onclick="addMsg('Right Lateral surface of knee');">
                                        <area shape="poly" coords="482,603,472,603,467,617,467,638,465,659,476,716,480,720,476,638" title="Left Lateral surface of lower leg" onclick="addMsg('Left Lateral surface of lower leg');">
                                        <area shape="poly" coords="480,603,505,604,505,636,503,669,499,689,495,720,480,720,480,686,476,640" title="Left Posterior surface of lower leg" onclick="addMsg('Left Posterior surface of lower leg');">
                                        <area shape="poly" coords="516,606,505,604,505,623,505,636,495,720,505,724,509,661,518,634" title="Left Medial surface of lower leg" onclick="addMsg('Left Medial surface of lower leg');">
                                        <area shape="poly" coords="571,603,560,604,563,617,566,640,568,653,579,716,585,716,573,643" title="Right Medial surface of lower leg" onclick="addMsg('Right Medial surface of lower leg');">
                                        <area shape="poly" coords="571,603,594,603,594,634,596,669,598,686,600,716,585,716,579,689,573,640" title="Right Posterior surface of lower leg" onclick="addMsg('Right Posterior surface of lower leg');">
                                        <area shape="poly" coords="604,678,607,600,592,603,596,638,594,651,596,661,600,716,608,714" title="Right Lateral surface of lower leg" onclick="addMsg('Right Lateral surface of lower leg');">
                                        <area shape="poly" coords="476,720,480,720,482,733,476,736" title="Left Lateral surface of ankle" onclick="addMsg('Left Lateral surface of ankle');">
                                        <area shape="poly" coords="480,716,482,733,495,736,497,720,490,720" title="Left Posterior surface of ankle" onclick="addMsg('Left Posterior surface of ankle');">
                                        <area shape="poly" coords="495,720,505,720,507,738,507,742,499,736,495,736" title="Left Medial surface of ankle" onclick="addMsg('Left Medial surface of ankle');">
                                        <area shape="poly" coords="575,741,577,736,588,729,585,716,579,716,577,725" title="Right Medial surface of ankle" onclick="addMsg('Right Medial surface of ankle');">
                                        <area shape="poly" coords="585,716,588,733,596,729,600,716,590,716" title="Right Posterior surface of ankle" onclick="addMsg('Right Posterior surface of ankle');">
                                        <area shape="poly" coords="598,716,606,712,608,729,596,729" title="Right Lateral surface of ankle" onclick="addMsg('Right Lateral surface of ankle');">
                                        <area shape="poly" coords="492,736,482,733,476,736,476,742,467,758,457,775,455,791,461,804,472,810,480,820,490,817,495,795,501,770,505,750,503,736" title="Left Plantar surface of heel" onclick="addMsg('Left Plantar surface of heel');">
                                        <area shape="poly" coords="609,729,590,729,577,736,577,748,581,761,585,786,590,809,600,817,613,805,628,791,628,775,610,742" title="Right Plantar surface of heel" onclick="addMsg('Right Plantar surface of heel');">
                                    </map>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="col-lg-10">
                                        <select class="form-control form-control-lg" name="anatomicsite">
                                            <option value="n/a" selected disabled hidden>Select anatomic site</option>
                                        {% for site in sites %}
                                            <option value="{{ site.index }}">{{ site.site }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="number" class="form-control form-control-lg" id="size" name="size" placeholder="Size (mm)">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="form-control-lg">
                                        <label class="col-lg-6">
                                            Disease Severity:
                                        </label>
                                        <label class="col-lg-3" for="benign">
                                            <input type="radio" class="form-check-input" id="benign" name="presentation" value="benign">
                                            Benign
                                        </label>
                                        <label class="col-lg-2" for="malignant">
                                            <input type="radio" class="form-check-input" id="malignant" name="presentation" value="malignant">
                                            Malignant
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="form-control-lg row">
                                        <div class="col-lg-6">
                                            <label for="easeofdiag">
                                                Difficulty of Diagnosis
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control-lg col-lg-12" type="range" min="1" max="5" value="3" id="easeofdiag" name="easeofdiag">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row {{ hideclass }} mb-5">
                                <h4 class="mb-3">Patient Information</h4>
                                <div class="row">
                                    <div class="form-group mb-3">
                                        <input type="number" class="form-control form-control-lg" id="age" name="age" placeholder="Age">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="form-control-lg">
                                        <label class="col-lg-6">Assigned sex</label>
                                        <label class="col-lg-3" for="male">
                                            <input type="radio" class="form-check-input" id="male" name="sex" value="m">
                                            Male
                                        </label>
                                        <label class="col-lg-2" for="female">
                                            <input type="radio" class="form-check-input" id="female" name="sex" value="f">
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="form-control-lg">
                                        <label class="col-lg-6">Does the patient have a family history of this condition?</label>
                                        <label class="col-lg-3" for="histtrue">
                                            <input type="radio" class="form-check-input" id="histtrue" name="history" value="Y">
                                            Yes
                                        </label>
                                        <label class="col-lg-2" for="histfalse">
                                            <input type="radio" class="form-check-input" id="histfalse" name="history" value="N">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row {{ hideclass }} mb-5">
                                <h4 class="mb-3">Image upload</h4>
                                <div class="form-group mb-3">
                                    <input type="file" class="form-control form-control-lg" id="imgUpload" name="filename" accept="image/*">
                                </div>
                                <div class="form-group mb-3 row">
                                    <div class="form-control-lg row">
                                        <div class="col-lg-6">
                                            <label>Image type</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="clinical">
                                                <input type="radio" class="form-check-input" id="clinical" name="imgtype" value="clinical">
                                                Clinical
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="dermoscopy">
                                                <input type="radio" class="form-check-input" id="dermoscopy" name="imgtype" value="dermoscopy">
                                                Dermoscopy
                                            </label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="other">
                                                <input type="radio" class="form-check-input" id="other" name="imgtype" value="other">
                                                Other
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-control-lg row">
                                        <div class="col-lg-6 offset-lg-6">
                                            <input type="input" class="form-control form-control-lg hidden-passthrough" id="otherimg" name="otherimg" placeholder="other">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="form-group mb-3">
                                    <input type="submit" class="form-control form-control-lg btn btn-outline-primary btn-lg {{ hideclass }}" id="upload_button" value="Upload" name="submit">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
        
    <p id="marker" class="hidden-passthrough" style="position: absolute; z-index: 1 !important; color: red; font-size: 24px">
        X
    </p>
    </section>

    
    <script src="{{ url_for('static', filename='js/submit.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
    <script type="text/javascript">
        $(function() {
          $('.map').maphilight();
        });
    </script>
</body>
</html>