<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/phys.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid" style="width:100%">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-left" href="/">ICD-Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class=" text-right">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/submit">Submit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/verify">Verify</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-3 text-center">
                <h1>Submit image</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mb-2 text-left">

                    <div class="row">

                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <h4 class="mb-3">Search ICD-11 (ICDD) Diagnosis</h4>
                                <div class="form-group mb-3">
                                    <input type="input" class="form-control form-control-lg" id="search" name="search" placeholder="Search Diagnosis" value="{{ query }}">
                                    <input type="submit" class="hidden-passthrough" name="submit" value="Search">
                                </div>
                            </div>
                            <div class="row {{ hideclass }}">
                                <h4 class="mb-3">Select diagnosis</h4>
                                <div class="form-group mb-3 row">
                                    <div class="col-lg-3">
                                        <input type="input" class="form-control form-control-lg" id="uri" name="uri" value="Searched: {{ query }}" disabled>
                                    </div>
                                    <div class="col-lg-7">
                                        <select class="form-control form-control-lg" name="results" id="results">
                                            <option value="null">Select diagnosis</option>
                                        {% for result in results %}
                                            <option value="{{ result.id }}" {{ result.selected }}>{{ result.title }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="submit" class="form-control form-control-lg btn btn-success btn-lg {{ hideclass }}" id="check_btn" value="Check Definition" name="submit">
                                    </div>
                                </div>
                            </div>
                            <div class="row {{ desc_hide }}">
                                <p>{{ definition }}</p>
                            </div>
                            <div class="row {{ hideclass }}">
                                <h4 class="mb-3">Upload your image</h4>
                                <div class="form-group mb-3">
                                    <input type="file" class="form-control form-control-lg}" id="imgUpload" name="filename">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group mb-3">
                                    <input type="submit" class="form-control form-control-lg btn btn-outline-primary btn-lg {{ hideclass }}" id="upload_button" value="Upload" name="submit">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <script src="{{ url_for('static', filename='js/subselect.js') }}"></script>
</body>
</html>