<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/phys.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <section>
        <div class="container-fluid" style="width:100%">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-left" href="/">ICD-Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class=" text-right">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/submit">Submit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/verify">Verify</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center mt-5 mb-3 text-center">
                <h1>Images</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10 mb-2 text-left">

                    <div class="row mt-5">
                        
                        {% for entry in entries %}
                        <div class="col-lg-3 mb-5 mt-2">
                            <a class="btn">
                                <div class="card card-shadow round" onclick="openOverlay('{{ entry.id }}')">
                                    <img src="{{ url_for('static', filename='img/' + entry.file) }}" class="img-fluid crop-img round">
                                    <div class="card-body">
                                        <span>http://id.who.int/icd/entity/{{ entry.uri }}</span>
                                        <h4>{{ entry.title }}</h4>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <input type="checkbox" class="form-check-input" name="imgselect" value="{{ entry.file }}-select">
                                </div>
                            </a>
                        </div>
                        
                        <div id="{{ entry.id }}" class="modal">
                        
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" onclick="closeOverlay('{{ entry.id }}')">&times;</span>
                                <div class="row">
                                    <div class='col-lg-4'>
                                        <img src="{{ url_for('static', filename='img/' + entry.file) }}" class="img-fluid round">
                                    </div>
                                    <div class ='col-lg-8'>
                                        <form method="post" enctype="multipart/form-data">
                                            <div class="row">
                                                <span>http://id.who.int/icd/entity/{{ entry.uri }}</span>
                                                <h2>Submitted diagnosis:</h2>
                                                <h3>{{ entry.title }}</h3>
                                                <h2>Alternative diagnoses:</h2>
                                                <div class="form-group mb-3">
                                                    <select class="form-control form-control-lg" name="results" id="results">
                                                        <option value="{{entry.uri}}">{{entry.title}}</option>
                                                    {% for result in entry.results %}
                                                        <option value="{{result.id}}">{{result.title}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <h2>Image filename:</h2>
                                                <h4>{{ entry.file }}</h4>
                                                <div class="hidden-passthrough">
                                                    <input type="input" class="form-control form-control-lg" id="filename" name="filename" value="{{ entry.file }}">
                                                </div>
                                                <div class="hidden-passthrough">
                                                    <input type="input" class="form-control form-control-lg" id="imgID" name="imgID" value="{{ entry.id }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group mb-3">
                                                    <input type="submit" class="form-control form-control-lg btn btn-success btn-lg" id="verify" name="verify" value="Verify">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <input type="submit" class="form-control form-control-lg btn btn-danger btn-lg" id="verify" name="verify" value="Delete">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <a class="form-control form-control-lg btn btn-outline-secondary btn-lg" onclick="closeOverlay('{{ entry.id }}')">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="mt-5">
        <div class="container-fluid download-bar hidden-passthrough" id="downloadbar">
            <div class="col-lg-12">
                <div class="card card-shadow round">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mt-3 row">
                                <div class="col-lg-8">
                                    <h4 class="d-inline-block px-4" id="downloadbartxt"></h4>
                                    <p class="d-inline-block">Save metadata as </p>
                                    <input type="radio" class="d-inline-block form-check-input" name="metaformat" value="csv">
                                    <p class="d-inline-block"><b>.csv</b></p>
                                    <input type="radio" class="d-inline-block form-check-input" name="metaformat" value="json" checked>
                                    <p class="d-inline-block"><b>.json</b></p>
                                </div>
                                <div class="col-lg-4">
                                    <input type="submit" class="form-control form-control-lg btn btn-success btn-lg" id="verify" name="verify" value="Download">
                                </div>
                            </div>
                            <div class="hidden-passthrough">
                                <input type="input" class="form-control form-control-lg" id="filelist" name="filelist" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/downloader.js') }}"></script>
</body>
</html>