body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* copied in from flask app */

.round {
  border-radius: 15px
}

.crop-img{
  width: 33vw !important;
  --width: 33vw !important;
  height: calc(var(--width) * 0.6);
  object-fit: cover;
}

.card-shadow {
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.card-shadow:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 30px;
  width:60%;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.open-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(50, 50, 50, 0.2);
}

.overlay-wrapper:hover .open-modal {
  opacity: 1;
}

.icon {
  color: #eee;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon:hover {
  cursor: pointer !important;
  color: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* end modal */

.hidden-passthrough {
  display: none;
}

.download-bar {
  position: fixed;
  bottom: 15px;
}

.marker {
  position: absolute;
  z-index: 1 !important;
  color: red;
  font-size: 24px;
  pointer-events: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: max-content;
  overflow: auto;
  z-index: 9999 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid #86b7fe;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: #aaa;
}

.full-body-map {
  display: none;
}

.found {
  font-weight: bold;
}

.search-content {
  display: block;
  overflow: auto;
  z-index: 9999 !important;
}

.search-content {
  display: none;
  border: 1px solid #86b7fe;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  max-height: 40vh !important;
  overflow-y: scroll;
}

.search-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff;
}

.search-content a:hover {
  color: #ffffff;
  background-color: #aaa;
}

select:invalid {
  color: #6c757d;
  opacity: 1;
}

.unused {
  text-decoration: line-through;
  color: red;
}